:root {
  --black: #000000;
  --white: #ffffff;
  --red: #e5332a;
  --blue: #4f9bc4;
  --sun: #fec031;
  --forest: #464d33;
  --green: #457544;
  --medgreen: #47c981;
  --lightgreen: #ccd9d1;
  --orange: #ff8729;
  --wood: #663d16;
  --navy: #112b5a;
  --lightnavy: #274a8c;
  --offwhite: #fbefe0;
  --lightgrey: #d5d4d4;
  --summerblue: #00b6b6;
  --summeryellow: #ffbc0e;
  --summerred: #db0006;
  --summergrey: #ebebeb;
}

/* font
font-family: 'Fugaz One', cursive;
font-family: 'Gowun Batang', serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Noto Sans KR', sans-serif;
font-family: nunito, sans-serif; 
*/

/* colors
#f1eaff
#bdbbe1
#acabdb
#ffd966
#5d95de

#96ceb4
#ffeead
#ff6f69
#ffcc5c
#88d8b0
*/
